/* Figure class */
.animation-figure {
    border-radius: 0.3rem;
    display: block;
    margin: 0 auto;
    box-shadow: var(--md-shadow-z2);
}

p {
    text-indent: 2em !important; /* 两个中文字符的宽度作为一个缩进单位 */
}